<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">

  <script
  src="//code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="../img/shirt.png" type="image/png">
  <title>ClothesPros</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link href="/css/layout.css" rel="stylesheet">
  <link href="/css/tab.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/moment.min.js"></script>
  <script src="/js/Chart.min.js"></script>
</head>
<body>
<div
<nav class="navbar navbar-default navbar-fixed-top"  data-spy="affix" data-offset-top="500">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- Dropdown button -->
      <button type="button" class="navbar-toggle collapsed drop" data-toggle="collapse" data-target="#nav-dropdown-btn" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- User button -->
      <button type="button" class="navbar-toggle collapsed navbar-button" data-toggle="collapse" data-target="#user-btn" aria-expanded="false">
          <span class="glyphicon glyphicon-user"></span>
      </button>

      <!-- Search button -->
      <button type="button" class="navbar-toggle collapsed navbar-button" data-toggle="collapse" data-target="#search-btn" aria-expanded="false" aria-controls="#user-btn">
          <span class="glyphicon glyphicon-search"></span>
      </button>

      <a class="navbar-brand" href="/">
          <div id="brand">
              <div id="logo">
                  CLOTHES<b>PROS</b>
              </div>
              <div id="slogan">
                  find clothes that fit your style and wallet
              </div>
          </div>
      </a>
    </div>

    <!-- User dropdown -->
    <div class="collapse navbar-collapse" id="user-btn">
      <h4 class="navbar-text">Welcome back, {{user.name}}!</h4>
      <ul class="nav navbar-nav">
        <li><a href="/user"><span class="glyphicon glyphicon-user"></span> &nbsp; User Profile</a></li>
        <li><a href="/favorites"><span class="glyphicon glyphicon-heart"></span> &nbsp; Favorites</a></li>
        <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> &nbsp; Settings</a></li>
        <hr class="no-margin">
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Sign Out</a></li>
      </ul>

    </div>

    <!-- Search dropdown -->
    <div class="collapse navbar-collapse" id="search-btn">
      <form>
        <div class="form-group input-group">
          <input type="text" class="form-control" id="search-text" placeholder="Search">
          <span class="input-group-btn">
            <button id="searcheroni" class="btn btn-default submit-btn">Search</button>
          </span>
        </div>
      </form>
    </div>

    <!-- Navigation dropdown -->
    <div class="collapse navbar-collapse" id="nav-dropdown-btn">
      <ul class="nav navbar-nav">
        <li><a href="/top-deals"><span class="glyphicon glyphicon-fire"></span> &nbsp; Top Deals</a></li>
        <li><a href="/categories"><span class="glyphicon glyphicon-th-large"></span> &nbsp; Categories</a></li>
        <li><a href="/fashion-trends"><span class="glyphicon glyphicon-stats"></span> &nbsp; Fashion Trends</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <img src="" class="imagepreview" style="width: 100%;" >
    </div>
  </div>
</div>
</div>

{{{body}}}

<button onclick="topFunction()" id="scroll-top" title="Go to top"><span class="glyphicon glyphicon-chevron-up"></span></button>
<div id="snackbar"></div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
  var snackbarTimer;

  $(document).on('click',function(e){
    if(e.target !== $('.form-control')[0]) {
        $('.navbar-collapse').collapse("hide");
    }
  });

  $(function() {
  		$('.item-img').on('click', function() {
  			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
  			$('#imagemodal').modal('show');
  		});
  });

  $(function() {
    $("#searcheroni").on('click', function(e) {
      e.preventDefault();
      //console.log('/search/' + document.getElementById('search-text').value);
      window.location.href = '/search/' + document.getElementById('search-text').value;
    });
  });

  function undoRemoveFavorites(id) {
    if($("#" + id + ".container").hasClass("collapse")) {
      $("#" + id + ".container").collapse('show');
    }
    //console.log($("#" + id + ".container").attr("class"));
    $("#" + id + " .favorites-btn").trigger("click");
  }

  $(function() {
    $(".favorites-btn").on('click', function(e) {
      e.preventDefault();
      var x = document.getElementById("snackbar")

      // Restart snackbar
      clearTimeout(snackbarTimer);
      x.classList.remove("show");
      void x.offsetWidth;

      // Add the "show" class to DIV
      x.className = "show";

      var item_id = $(this).parent().closest('div[id]').attr('id');
      var isCarousel = $("div.active .item-name").text().length != 0;
      var isItemPage = $(this).closest('.row').siblings().find('.item-name').text().length == 0;
      var favoritesChange;
      var undo = "";
      //Zconsole.log($(this).parent().closest('div[id]').attr('id'));

      if($(this).hasClass("glyphicon-heart-empty")) {
        $(this).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
        favoritesChange = " Added to ";
        $.post('/addToFavorites/', {'item': item_id});
        var favNum = $(this).closest(".row").siblings().find(".fav-num");
        favNum.html(parseInt(favNum.text()) + 1);
      }
      else {
        $(this).removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
        favoritesChange = " Removed from ";
        $.post('/addToFavorites/', {'item': item_id});
        var favNum = $(this).closest(".row").siblings().find(".fav-num");
        favNum.html(parseInt(favNum.text()) - 1);
        undo = ' <button type="button" class="btn btn-link no-padding" onclick="undoRemoveFavorites(' + item_id + ');"> Undo</button>';
      }

      if(isCarousel) {
        $("#snackbar").html("<strong>" + $("div.active .item-name").text() +
          '</strong>' + favoritesChange + '<a href="/favorites"><strong>Favorites</strong></a>!');
      }
      else if(isItemPage) {
        $("#snackbar").html("<strong>" + $(".item-name").text() +
          '</strong>' + favoritesChange + '<a href="/favorites"><strong>Favorites</strong></a>!');
      }
      else {
        $("#snackbar").html("<strong>" + $(this).closest('.row').siblings().find('.item-name').text() +
          '</strong>' + favoritesChange + '<a href="/favorites"><strong>Favorites</strong></a>!' + undo);
      }

      // After 3 seconds, remove the show class from DIV
      snackbarTimer = setTimeout(function(){ x.className = x.className.replace("show", "");}, 3000);
    });
  });

  // Scroll to tops
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
      if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
          document.getElementById("scroll-top").style.display = "block";
      } else {
          document.getElementById("scroll-top").style.display = "none";
      }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  </script>
</body>
</html>
