<div class="section-title container">
  <h4>Categories</h4>
</div>

<div class="container content">

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/tops">
        <img class="img-thumbnail" src="../img/black_blazer.jpg" alt="">
        <br>
        Tops
      </a>
      <br>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/bottoms">
        <img class="img-thumbnail" src="../img/jeans.JPG" alt="">
        <br>
        Bottoms
      </a>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/shoes">
        <img class="img-thumbnail" src="../img/nike_shoes.jpg" alt="">
        <br>
        Shoes
      </a>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/accessories">
        <img class="img-thumbnail" src="../img/black_hat.png" alt="">
        <br>
        Accessories
      </a>
    </div>
  </div>
</div>
