<div class="section-title container">
  <h4>Categories</h4>
</div>

<div class="container content">

<div class="row text-center text-lg-left">

<div class="col-lg-3 col-md-4 col-xs-6">
  <a href="#" class="d-block mb-4 h-100">
    <img class="img-fluid img-thumbnail" src="../img/jeans.JPG" alt="">
  </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6">
  <a href="#" class="d-block mb-4 h-100">
    <img class="img-fluid img-thumbnail" src="../img/black_blazer.jpg" alt="">
  </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6">
  <a href="#" class="d-block mb-4 h-100">
    <img class="img-fluid img-thumbnail" src="../img/blue_t_shirt.jpg" alt="">
  </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6">
  <a href="#" class="d-block mb-4 h-100">
    <img class="img-fluid img-thumbnail" src="../img/nike_shoes.jpg" alt="">
  </a>
</div>
</div>
</div>
