<div class="section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Categories</h4>
    </div>

  </div>
</div>

<div class="container content">

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/tops" class="category-btn">
        <img class="category-img" src="../img/black_blazer.jpg" alt="">
        <br>
        Tops
      </a>
      <br>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/bottoms" class="category-btn">
        <img class="category-img" src="../img/jeans.JPG" alt="">
        <br>
        Bottoms
      </a>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/shoes" class="category-btn">
        <img class="category-img" src="../img/nike_shoes.jpg" alt="">
        <br>
        Shoes
      </a>
    </div>
  </div>

  <br>

  <div class="row text-center">
    <div class="col-xs-offset-3 col-xs-6">
      <a href="/categories/accessories" class="category-btn">
        <img class="category-img" src="../img/black_hat.png" alt="">
        <br>
        Accessories
      </a>
    </div>
  </div>
</div>
