<div class="section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Select a Category</h4>
    </div>

  </div>
</div>

<div class="container content">

  <img style="display: block; margin-left: auto; margin-right:auto" src="../img/human.png" width="285" height="500" alt="Finn" usemap="#humanmap">

  <map name="humanmap">
   <area shape="rect" class="category-btn" coords="80,10,215,130" href="/categories/accessories" alt="accessories">
   <area shape="rect" class="category-btn" coords="80,150,215,240" href="/categories/tops" alt="tops">
   <area shape="rect" class="category-btn" coords="80,255,215,340" href="/categories/bottoms" alt="bottoms">
   <area shape="rect" class="category-btn" coords="50,415,240,480" href="/categories/shoes" alt="shoes">
  </map>
</div>
