<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4 class = "levi"> Levi's Jeans </h4>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="images">

  <p> <a href="index"> Bottoms </a> > <a href="item"> Jeans </a> </p>

        <div class="leftImage">
          <img src="../img/jeans.JPG" class="img-thumbnail" alt="Levi Jeans" width="150">
        </div>

          <img src="img/jeans.JPG" class="rightImage img-thumbnail" alt="Levi Jeans" width="150">
          <img src="img/jeans.JPG" class="rightImage img-thumbnail" alt="Levi Jeans" width="150">
          <img src="img/jeans.JPG" class="rightImage img-thumbnail" alt="Levi Jeans" width="150">

      </div>
    </div>

    <div class="col-xs-6 addClass">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <p>(3.0 Average <br> 3 Reviews)<br></p>
      <button type="button" class="btn btn-outline-primary">Add to List</button>

    </div>
  </div>

  <div class = "sizes">
    <div class="row">
      <div class="col-xs-6">
        <h4 class = "sizeChart">Size Chart </h4>
      </div>
      <div class="col-xs-6">
        <h4 class="size">Size:</h4>
            <button type="button" class="btn btn-outline-primary">30W</button>
            <button type="button" class="btn btn-outline-primary">32L</button>
      </div>

    </div>
  </div>
</div>
<div id="exTab2" class="container">
<ul class="nav nav-tabs">
      <li class="active">
        <a  href="#1" data-toggle="tab">Prices</a>
      </li>
      <li>
        <a href="#2" data-toggle="tab">Product Information</a>
      </li>
      <li>
        <a href="#3" data-toggle="tab">Price History</a>
      </li>
      <li>
        <a href="#4" data-toggle="tab">Reviews</a>
      </li>
    </ul>

      <div class="tab-content ">
        <div class="tab-pane active" id="1">
          <div class="storeName">
            <ul class="list-group">
              <li class="list-group-item">
                Store #1 <br>
                <div class="price">
                  <del>$99.99</del> <b>$29</b>.99   <br>
                  $29.99 + $0 s/h <br>
                </div>
                <div class="updated">
                  Updated 42 minutes ago
                </div>
              </li>
              <li class="list-group-item">Store #2 <br>
                <div class="price">
                  <del>$99.99</del> <b>$54</b>.98   <br>
                  $49.99 + $4.99 s/h <br>
                <div class="updated">
                  Updated 50 minutes ago
                </div>
              </li>
              <li class="list-group-item">Store #3 <br>
                <div class="price">
                  <del>$99.99</del> <b>$74</b>.99   <br>
                  $74.99 + $0 s/h <br>
                <div class="updated">
                  Updated 53 minutes ago
                </div>
              </li>
            </ul>
            <!-- <h4>Store #1</h4> -->
          </div>
        </div>
        <div class="tab-pane" id="2">
          <h4>Product Information</h4>
        </div>
        <div class="tab-pane" id="3">
          <h4>Price History</h4>
        </div>
        <div class="tab-pane" id="4">
          <h4>Reviews</h4>
        </div>
      </div>
  </div>
