<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">

  <script
  src="//code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="img/shirt.png" type="image/png">
  <title>ClothesPros</title>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link href="/css/login.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div id="brand" class="text-center">
      <div id="logo">
          CLOTHES<b>PROS</b>
      </div>
      <div id="slogan">
          find clothes that fit your style and wallet
      </div>
    </div>
      <form action="/login" method="post">
      <div class="form-row">
        <div class="form-group col-xs-12">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-xs-12">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
      </div>
          <button type="submit" class="btn btn-primary">Sign in</button>

    </form>
      <a href="/register"><button type="submit" class="btn btn-primary green">Register</button></a>
      <div class="row"></div>
      <br>
  </div>
</body>
</html>
