<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Search</h4>
    </div>

  </div>
</div>
