<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Change Password</h4>
    </div>

  </div>
</div>

<br>

<div class="form-group">
    <label for="exampleInputEmail1">Please enter your current password:</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Current password">
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
</div>


<br>

<div class="form-group">
    <label for="exampleInputEmail1">Please enter your new password:</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="New password">
</div>

<div class="form-group">
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Confirm password">
    <br>
    <button type="submit" class="btn btn-default">Submit</button>
</div>

