<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Settings</h4>
    </div>

  </div>
</div>

<br>

<div class="container">
	<div class="row">
	  <div class="col-xs-offset-3 col-xs-6 text-center">
			<a href="/settings/user" class="btn btn-default center-block settings-btn">
		    <span class="glyphicon glyphicon-sunglasses"></span> User Profile
			</a>
		</div>
	</div>

	<br>

	<div class="row">
    <div class="col-xs-offset-3 col-xs-6 text-center">
			<a href="/settings/email" class="btn btn-default center-block settings-btn">
		    	<span class="glyphicon glyphicon-envelope"></span> Change Email
			</a>
		</div>
	</div>

	<br>

	<div class="row">
	  <div class="col-xs-offset-3 col-xs-6 text-center">
			<a href="/settings/password" class="btn btn-default center-block settings-btn">
		    <span class="glyphicon glyphicon-lock"></span> Change Password
			</a>
		</div>
	</div>

	<br>

	<div class="row">
	  <div class="col-xs-offset-3 col-xs-6 text-center">
			<a href="/login" class="btn btn-default center-block settings-btn">
		    <span class="glyphicon glyphicon-log-out"></span> Sign Out
			</a>
		</div>
	</div>

	<br>
</div>
