<div class = "section-title container">
  <div class="row arrow">
    <div class="col-xs-2">
      <a href="javascript:history.back()"<span class="glyphicon glyphicon-chevron-left back"></span></a>
    </div>


    <div class="col-xs-8">
      <h4>Settings</h4>
    </div>

  </div>
</div>

<br>

<div class="container">
	<div class="row">
	    <div class="col-xs-3">
	    </div>
	    <div class="col-xs-6" style="text-align: center;">
			<a href="/user" class="btn btn-default btn-lg">
		    	<span class="glyphicon glyphicon-sunglasses"></span> User Profile 
			</a>
		</div>
		</div>
		<div class="col-xs-3">
	    </div>
	</div>

	<br>

	<div class="row">
	    <div class="col-xs-3">
	    </div>
	    <div class="col-xs-6" style="text-align: center;">
			<a href="/email" class="btn btn-default btn-lg">
		    	<span class="glyphicon glyphicon-envelope"></span> Change Email 
			</a>
		</div>
		</div>
		<div class="col-xs-3">
	    </div>
	</div>

	<br>

	<div class="row">
	    <div class="col-xs-3">
	    </div>
	    <div class="col-xs-6" style="text-align: center;">
			<a href="/password" class="btn btn-default btn-lg">
		    	<span class="glyphicon glyphicon-lock"></span> Change Password 
			</a>
		</div>
		</div>
		<div class="col-xs-3">
	    </div>
	</div>
	
	<br>

	<div class="row">
	    <div class="col-xs-3">
	    </div>
	    <div class="col-xs-6" style="text-align: center;">
			<a href="/login" class="btn btn-default btn-lg">
		    	<span class="glyphicon glyphicon-log-out"></span> Sign Out 
			</a>
		</div>
		</div>
		<div class="col-xs-3">
	    </div>
	</div>

	<br>
</div>
