.title {
  text-align: center;
  background-color: #85a8d3;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}

.small-text {
  font-size: .75em;
}

.stretch-button {
  display: block;
  width: 80%;
}

.checked {
    color: orange;
}

.img-responsive {
    margin: 0 auto;
}