/* General */
body {
  padding-top: 50px;
}

hr {
  margin: 15px 0px;
}

#logo {
    font-family: Segoe UI, sans-serif;
    font-weight: lighter;
    font-size: 24px;
}

#logo b {
    color: #7092BE;
}

#slogan {
    font-size: 10px;
    font-family: Bahnschrift SemiLight, sans-serif;
}

.content {
  margin: 20px 0px;
}

.no-padding {
  padding: 0;
}

.login {
  background-color: #7092BE;
}

/* Navigation bar */
.navbar {
  margin-bottom: 0;
}

.navbar-button {
    color: grey;
}

.navbar-toggle {
    margin-right: 5px;
}

.navbar-brand {
    padding-left: 5px;
    padding-top: 8px;
    padding-right: 0px;
}

.navbar-default {
    border-radius: 0px;
    background-image: none;
    background-color: white;
}

.form-group {
    margin: 10px;
}

.submit-btn {
  background: #7092BE;
  text-shadow: none;
  color: white;
}

/* Carousel */
#myCarousel {
  margin-bottom: 40px;
}

.carousel-indicators li {
  border: 1px solid gray;
}

.carousel-indicators .active {
    background-color: #7092BE;
}

/*.carousel-inner .item img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}*/

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel-control span.glyphicon {
  color: black;
}

.carousel-indicators {
  bottom: -40px;
}

.glyphicon-heart-empty {
  font-size: 2em;
  position:absolute;
  padding: 10px;
}
/* Text */
.section-title {
  text-align: center;
  background-color: #7092BE;
  color: white;
}

.section-title h4 {
    margin: 15px auto;
}

.small-text {
  font-size: .75em;
}

.item-info {
  margin: 10px 0px;
  padding: 0px;

}
.item-info * {
  margin: 0;
}

.stretch-button {
  display: block;
  background: #0094ff;
  border: none;
  margin: auto;
  width: 130px;
  text-align: center;
}

.left-block {
  margin-right: 0px;
}

.right-block {
  margin-left: 0px;
}

.checked {
    color: orange;
}

/* Etc */

.border {
  border: 1px solid red;
}
