body {
  background-color: #7092BE;
}

#brand {
  margin: 15px 0px;
}

#logo {
    font-family: Segoe UI, sans-serif;
    font-weight: lighter;
    font-size: 26px;
}

#logo b {
    color: #7092BE;
}

#slogan {
    font-size: 12px;
    font-family: Bahnschrift SemiLight, sans-serif;
}

.container {
  border-radius: 5px;
  margin: 20px;
  background: white;
}

.btn {
  background-image: none;
}

.submit-btn {
  width: 100%;
  background: #0094ff;
  border: none;
}

.register-btn {
  width: 100%;
  background: green;
  border: none;
}

.cancel-btn {
  width: 100%;
  border: none;
}

.facebook-color {
  background: #3b5998;
}
