.price {
	text-align: right
}


.updated {
	margin-top: 25px;
	text-align: right;
	font-size: 65%;
}

.size {
	/*margin-left: 130px;*/
	display: inline;
}

/*.sizeChart {
	margin-left: 15px;
	display: inline;
}*/

.leftImage {
	float: left;
}

.rightImage {
	width: 10%;
	display: list-item;
}

.images {
	float: left;
}

.addClass {
	text-align: bottom;
}

.img {
	width: 60%;
}

.checked {
    color: orange;
}

.back {
	color: white;
}
.arrow {
  display: flex;
  align-items: center;
}

.arrow .glyphicon.glyphicon-chevron-left {
	font-size: .75em;
}

.nav-tabs {
    display: flex;
	  justify-content: center;
	  align-items: center;
		border-bottom: none;
}

.nav-tabs a {
	font-size: .9em;
	text-align: center;
	width: 100%;
}

.nav-tabs li {
	height: 50px;
  display: flex;
  flex: 1;
}
